<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.rtl.css}">
    <meta charset="UTF-8">
    <title>Access denied</title>
</head>
<body class="bg-secondary text-white">
<p class="text-lg-center fs-1">ERROR 403</p>
<p class="text-lg-center fs-2">this is a forbidden area</p>
<div class="d-grid col-1 mx-auto">
    <a class="btn btn-outline-warning" onclick="history.back()" role="button">Back</a>
</div>
<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>