<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.rtl.css}">
    <meta charset="UTF-8">
    <title>Add user</title>
</head>
<body class="bg-secondary text-white">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="navbar-brand" th:href="@{https://github.com/Alexandr-Tsiulkin/tsiulkin-project}">T-Project</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/welcome-admin}">Welcome</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/users}">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" th:href="@{/admin/users/add}">Add user</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/admin/reviews}">Reviews</a>
        </li>
    </ul>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <ul class="navbar-nav align-items-end">
            <li class="nav-item">
                <span class="navbar-text" th:text="${#authentication.name}"></span>
                <a class="btn btn-outline-warning" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<form class="row row-cols-lg-auto g-3 align-items-center" method="post" th:object="${user}">
    <div class="col-12">
        <div class="input-group has-validation">
            <label class="visually-hidden" for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName" name="lastName"
                   required placeholder="Last name" th:field="*{lastName}">
        </div>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
    </div>
    <div class="col-12">
        <label class="visually-hidden" for="firstName">First name</label>
        <div class="input-group">
            <input type="text" class="form-control" id="firstName" name="firstName"
                   required placeholder="First name" th:field="*{firstName}">
        </div>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
    </div>
    <div class="col-12">
        <label class="visually-hidden" for="middleName">Middle name</label>
        <div class="input-group">
            <input type="text" class="form-control" id="middleName" name="middleName"
                   required placeholder="Middle name" th:field="*{middleName}">
        </div>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}"></div>
    </div>
    <div class="col-12">
        <label class="visually-hidden" for="email">Email</label>
        <div class="input-group">
            <input type="email" class="form-control" id="email" name="email"
                   required placeholder="Email" th:field="*{email}">
        </div>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    </div>
    <div class="col-12">
        <select class="form-select" aria-label="Default select example" th:field="*{role}">
            <option th:each="role : ${T(com.gmail.alexandr.tsiulkin.model.RoleDTOEnum).values()}"
                    th:value="${role.name()}" th:text="${role.name()}"></option>
        </select>
    </div>
    <div class="col-12">
        <label class="visually-hidden" for="address">Address</label>
        <div class="input-group">
            <input class="form-control" id="address" name="address" type="text"
                   required placeholder="Address" th:field="*{address}">
        </div>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
    </div>
    <div class="col-12">
        <label class="visually-hidden" for="telephone">Telephone</label>
        <div class="input-group">
            <input class="form-control" id="telephone" name="telephone" type="text"
                   required placeholder="Telephone" th:field="*{telephone}">
        </div>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}"></div>
    </div>
    <div class="col-12">
        <button class="btn btn-outline-warning" type="submit">Add user</button>
    </div>
</form>
<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>