<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.rtl.css}">
    <meta charset="UTF-8">
    <title>Article</title>
</head>
<body>
<table class="table table-hover container">
    <caption class="caption-top fs-1" th:text="${article.title}"></caption>
    <thead class="table-light">
    <tr>
        <th scope="col">id</th>
        <th scope="col">Date</th>
        <th scope="col">Title</th>
        <th scope="col">Full content</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${article.id}"></td>
        <td th:text="${article.date}"></td>
        <td th:text="${article.title}"></td>
        <td th:text="${article.fullContent}"></td>
        <td th:text="${article.firstName}"></td>
        <td th:text="${article.lastName}"></td>
    </tbody>
</table>
<span sec:authorize="hasAuthority('SALE_USER')">
    <form th:action="@{/seller/articles/{id}/change-parameter(id=${article.id})}" method="post" th:object="${changeArticle}">
    <div class="col-12">
        <label class="visually-hidden" for="title">Title</label>
        <div class="input-group">
            <input type="text" class="form-control" id="title" name="title"
                   placeholder="New title">
            <div class="alert alert-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
        </div>
        <div class="input-group">
            <input type="text" class="form-control" id="content" name="content"
                   placeholder="New Content">
            <div class="alert alert-danger" th:if="${#fields.hasErrors('content')}"
                 th:errors="*{content}"></div>
        </div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Change parameter</button>
    </div>
</form>
</span>
<div class="container" th:each="comment : ${article.comments}">
    <div class="media border p-3">
        <div class="media-body">
            <p class="fs-2" th:text="${comment.fullName}"></p>
            <p class="fst-italic">Posted: <span th:text="${comment.date}"></span></p>
            <p class="fs-4" th:text="${comment.fullContent}"></p>
            <div class="d-grid gap-2 col-6 mx-auto" sec:authorize="hasAuthority('SALE_USER')">
                <a class="btn btn-primary" th:href="@{/seller/comments/{id}/delete(id=${comment.id})}" role="button">Delete</a>
            </div>
        </div>
    </div>
</div>
<div class="d-grid gap-2 col-6 mx-auto" sec:authorize="hasAuthority('CUSTOMER_USER')">
    <a class="btn btn-primary" th:href="@{/customer/comments/add?article={id}(id=${article.id})}" role="button">Add
        comment</a>
</div>
<div class="d-grid gap-2 col-6 mx-auto" sec:authorize="hasAuthority('CUSTOMER_USER')">
    <a class="btn btn-primary" th:href="@{/customer/articles}" role="button">Back</a>
</div>
<div class="d-grid gap-2 col-6 mx-auto" sec:authorize="hasAuthority('SALE_USER')">
    <a class="btn btn-primary" th:href="@{/seller/articles}" role="button">Back</a>
</div>
<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>