<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.rtl.css}">
    <meta charset="UTF-8">
    <title>Article</title>
</head>
<body class="bg-secondary text-white">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="navbar-brand" th:href="@{https://github.com/Alexandr-Tsiulkin/tsiulkin-project}">T-Project</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" sec:authorize="hasAuthority('SALE_USER')"
               th:href="@{/seller/welcome-seller}">Welcome</a>
            <a class="nav-link" sec:authorize="hasAuthority('CUSTOMER_USER')" th:href="@{/customer/welcome-customer}">Welcome</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" sec:authorize="hasAuthority('SALE_USER')" th:href="@{/seller/articles}">Articles</a>
            <a class="nav-link" sec:authorize="hasAuthority('CUSTOMER_USER')"
               th:href="@{/customer/articles}">Articles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" sec:authorize="hasAuthority('SALE_USER')" th:href="@{/seller/items}">Items</a>
            <a class="nav-link" sec:authorize="hasAuthority('CUSTOMER_USER')" th:href="@{/customer/items}">Items</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" sec:authorize="hasAuthority('SALE_USER')" th:href="@{/seller/orders}">Orders</a>
            <a class="nav-link" sec:authorize="hasAuthority('CUSTOMER_USER')" th:href="@{/customer/orders}">Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" sec:authorize="hasAuthority('CUSTOMER_USER')" th:href="@{/customer/user-profile}">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" sec:authorize="hasAuthority('SALE_USER')" th:href="@{/seller/show-reviews}">Reviews</a>
            <a class="nav-link" sec:authorize="hasAuthority('CUSTOMER_USER')" th:href="@{/customer/show-reviews}">Reviews</a>
        </li>
    </ul>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <ul class="navbar-nav align-items-end">
            <li class="nav-item">
                <span class="navbar-text" th:text="${#authentication.name}"></span>
                <a class="btn btn-outline-warning" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<table class="table table-dark container">
    <caption class="caption-top fs-1 text-white" th:text="${article.title}"></caption>
    <thead class="table-dark">
    <tr>
        <th scope="col">id</th>
        <th scope="col">Date</th>
        <th scope="col">Title</th>
        <th scope="col">Full content</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${article.id}"></td>
        <td th:text="${article.date}"></td>
        <td th:text="${article.title}"></td>
        <td th:text="${article.fullContent}"></td>
        <td th:text="${article.firstName}"></td>
        <td th:text="${article.lastName}"></td>
    </tbody>
</table>
<span sec:authorize="hasAuthority('SALE_USER')">
    <div class="container">
        <form class="align-content-center" method="post"
              th:action="@{/seller/articles/{id}/change-parameter(id=${article.id})}" th:object="${changeArticle}">
    <div class="col-4">
        <label class="visually-hidden" for="title">Title</label>
        <div class="input-group">
            <input type="text" class="form-control" id="title" name="title"
                   placeholder="New title">
            <div class="alert alert-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
        </div>
        <div class="input-group">
            <textarea class="form-control" id="content" name="content" placeholder="New Content"
                      rows=3 type="text"></textarea>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('content')}"
                 th:errors="*{content}"></div>
        </div>
    </div>
    <div class="col-12">
        <button class="btn btn-outline-warning" type="submit">Change parameter</button>
    </div>
</form>
    </div>
</span>
<div class="container" th:each="comment : ${article.comments}">
    <div class="media border p-3">
        <div class="media-body">
            <p class="fs-2" th:text="${comment.fullName}"></p>
            <p class="fst-italic">Posted: <span th:text="${comment.date}"></span></p>
            <p class="fs-4" th:text="${comment.fullContent}"></p>
            <div class="d-grid gap-2 col-6 mx-auto" sec:authorize="hasAuthority('SALE_USER')">
                <a class="btn btn-outline-warning" role="button"
                   th:href="@{/seller/comments/{id}/delete(id=${comment.id})}">Delete</a>
            </div>
        </div>
    </div>
</div>
<div class="d-grid gap-2 col-6 mx-auto" sec:authorize="hasAuthority('CUSTOMER_USER')">
    <a class="btn btn-outline-warning" role="button"
       th:href="@{/customer/comments/add?articleId={id}(id=${article.id})}">Add
        comment</a>
</div>
<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>