<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.rtl.css}">
    <title>Home</title>
</head>
<body class="bg-secondary text-white">
<nav class="navbar navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">
        <a class="navbar-brand" th:href="@{https://github.com/Alexandr-Tsiulkin/tsiulkin-project}">T-Project</a>
    </ul>
    <ul class="nav-item my-2 my-lg-0">
        <a class="btn btn-outline-warning" role="button" th:href="@{/login}">Login</a>
    </ul>
</nav>
<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>