<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.rtl.css}">
    <meta charset="UTF-8">
    <title>Item</title>
</head>
<body class="bg-secondary text-white">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="navbar-brand" th:href="@{https://github.com/Alexandr-Tsiulkin/tsiulkin-project}">T-Project</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" sec:authorize="hasAuthority('SALE_USER')"
               th:href="@{/seller/welcome-seller}">Welcome</a>
            <a class="nav-link" sec:authorize="hasAuthority('CUSTOMER_USER')" th:href="@{/customer/welcome-customer}">Welcome</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" sec:authorize="hasAuthority('SALE_USER')" th:href="@{/seller/articles}">Articles</a>
            <a class="nav-link" sec:authorize="hasAuthority('CUSTOMER_USER')"
               th:href="@{/customer/articles}">Articles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" sec:authorize="hasAuthority('SALE_USER')" th:href="@{/seller/items}">Items</a>
            <a class="nav-link" sec:authorize="hasAuthority('CUSTOMER_USER')" th:href="@{/customer/items}">Items</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" sec:authorize="hasAuthority('SALE_USER')" th:href="@{/seller/orders}">Orders</a>
            <a class="nav-link" sec:authorize="hasAuthority('CUSTOMER_USER')" th:href="@{/customer/orders}">Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" sec:authorize="hasAuthority('CUSTOMER_USER')" th:href="@{/customer/user-profile}">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" sec:authorize="hasAuthority('SALE_USER')" th:href="@{/seller/show-reviews}">Reviews</a>
            <a class="nav-link" sec:authorize="hasAuthority('CUSTOMER_USER')" th:href="@{/customer/show-reviews}">Reviews</a>
        </li>
    </ul>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <ul class="navbar-nav align-items-end">
            <li class="nav-item">
                <span class="navbar-text" th:text="${#authentication.name}"></span>
                <a class="btn btn-outline-warning" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<table class="table table-dark container">
    <caption class="caption-top fs-1 text-white" th:text="${item.title}"></caption>
    <thead class="table-dark">
    <tr>
        <th scope="col">id</th>
        <th scope="col">Title</th>
        <th scope="col">Uuid</th>
        <th scope="col">Price</th>
        <th scope="col">Short content</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${item.id}"></td>
        <td th:text="${item.title}"></td>
        <td th:text="${item.uuid}"></td>
        <td th:text="${item.price}"></td>
        <td th:text="${item.content}"></td>
    </tbody>
</table>
<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>