<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.rtl.css}">
    <meta charset="UTF-8">
    <title>Items</title>
</head>
<body>
<table class="table table-hover container">
    <caption class="caption-top fs-1">List of items</caption>
    <thead class="table-light">
    <tr>
        <th scope="col">id</th>
        <th scope="col">Title</th>
        <th scope="col">Unique number</th>
        <th scope="col">Price</th>
        <th scope="col">More details</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${page.items}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.title}"></td>
        <td th:text="${item.uuid}"></td>
        <td th:text="${item.price}"></td>
        <td>
            <a class="btn btn-primary" type="submit" th:href="@{/seller/items/{uuid}(uuid=${item.uuid})}"
               th:name="uuid" role="button">More details</a>
        </td>
        <td>
            <a class="btn btn-primary" type="submit" th:href="@{/seller/items/{uuid}/delete(uuid=${item.uuid})}"
               th:name="uuid" role="button">Delete</a>
        </td>
        <td>
            <a class="btn btn-primary" type="submit" th:href="@{/seller/items/{uuid}/copy(uuid=${item.uuid})}"
               th:name="uuid" role="button">Copy</a>
        </td>
    </tr>
    </tbody>
</table>
<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-primary" th:href="@{/seller/welcome-seller}" role="button">Back</a>
</div>
<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-primary" th:href="@{/logout}" role="button">Logout</a>
</div>
<div>
     <span th:if="${page.countOfPages gt 1}">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:each="i : ${#numbers.sequence(page.beginPage, page.endPage)} ">
                <a class="page-link" th:classappend="${page.currentPage}==${i}?'activepagenumber':''"
                   th:href="@{/seller/items?page={id}(id=${i})}"
                   th:text="${i}"></a>
            </li>
        </ul>
    </nav>
     </span>
</div>
<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>