<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.rtl.css}">
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body class="bg-secondary text-white">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="navbar-brand" th:href="@{https://github.com/Alexandr-Tsiulkin/tsiulkin-project}">T-Project</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" sec:authorize="hasAuthority('SALE_USER')"
               th:href="@{/seller/welcome-seller}">Welcome</a>
            <a class="nav-link" sec:authorize="hasAuthority('CUSTOMER_USER')" th:href="@{/customer/welcome-customer}">Welcome</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" sec:authorize="hasAuthority('SALE_USER')" th:href="@{/seller/articles}">Articles</a>
            <a class="nav-link" sec:authorize="hasAuthority('CUSTOMER_USER')"
               th:href="@{/customer/articles}">Articles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" sec:authorize="hasAuthority('SALE_USER')" th:href="@{/seller/items}">Items</a>
            <a class="nav-link" sec:authorize="hasAuthority('CUSTOMER_USER')" th:href="@{/customer/items}">Items</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" sec:authorize="hasAuthority('SALE_USER')" th:href="@{/seller/orders}">Orders</a>
            <a class="nav-link active" sec:authorize="hasAuthority('CUSTOMER_USER')" th:href="@{/customer/orders}">Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" sec:authorize="hasAuthority('CUSTOMER_USER')" th:href="@{/customer/user-profile}">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" sec:authorize="hasAuthority('SALE_USER')" th:href="@{/seller/show-reviews}">Reviews</a>
            <a class="nav-link" sec:authorize="hasAuthority('CUSTOMER_USER')" th:href="@{/customer/show-reviews}">Reviews</a>
        </li>
    </ul>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <ul class="navbar-nav align-items-end">
            <li class="nav-item">
                <span class="navbar-text" th:text="${#authentication.name}"></span>
                <a class="btn btn-outline-warning" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<table class="table table-dark container">
    <caption class="caption-top fs-1 text-white">List of orders</caption>
    <thead class="table-dark">
    <tr style="text-align: center">
        <th scope="col">id</th>
        <th scope="col">Number of order</th>
        <th scope="col">Status</th>
        <th scope="col">Title item</th>
        <th scope="col">Number of items</th>
        <th scope="col">Total price</th>
        <th scope="col" sec:authorize="hasAuthority('SALE_USER')">More details</th>
    </tr>
    </thead>
    <tbody>
    <tr style="text-align: center" th:each="order : ${pageDTO.orders}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.numberOfOrder}"></td>
        <td th:text="${order.orderStatus}"></td>
        <td th:text="${order.title}"></td>
        <td th:text="${order.numberOfItems}"></td>
        <td th:text="${order.totalPrice}"></td>
        <td sec:authorize="hasAuthority('SALE_USER')">
            <a class="btn btn-outline-warning" role="button" th:href="@{/seller/orders/{id}(id=${order.id})}"
               th:name="id" type="submit">More details</a>
        </td>
    </tr>
    </tbody>
</table>
<div sec:authorize="hasAuthority('CUSTOMER_USER')">
     <span th:if="${pageDTO.countOfPages gt 1}">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:each="i : ${#numbers.sequence(pageDTO.beginPage, pageDTO.endPage)} ">
                <a class="page-link" th:classappend="${pageDTO.currentPage}==${i}?'activepagenumber':''"
                   th:href="@{/customer/orders?page={id}(id=${i})}"
                   th:text="${i}"></a>
            </li>
        </ul>
    </nav>
     </span>
</div>
<div sec:authorize="hasAuthority('SALE_USER')">
     <span th:if="${pageDTO.countOfPages gt 1}">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:each="i : ${#numbers.sequence(pageDTO.beginPage, pageDTO.endPage)} ">
                <a class="page-link" th:classappend="${pageDTO.currentPage}==${i}?'activepagenumber':''"
                   th:href="@{/seller/orders?page={id}(id=${i})}"
                   th:text="${i}"></a>
            </li>
        </ul>
    </nav>
     </span>
</div>
<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>