<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.rtl.css}">
    <meta charset="UTF-8">
    <title>Order</title>
</head>
<body class="bg-secondary text-white">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="navbar-brand" th:href="@{https://github.com/Alexandr-Tsiulkin/tsiulkin-project}">T-Project</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/seller/welcome-seller}">Welcome</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/seller/articles}">Articles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/seller/items}">Items</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/seller/orders}">Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/seller/show-reviews}">Reviews</a>
        </li>
    </ul>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <ul class="navbar-nav align-items-end">
            <li class="nav-item">
                <span class="navbar-text" th:text="${#authentication.name}"></span>
                <a class="btn btn-outline-warning" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<table class="table table-dark container">
    <caption class="caption-top fs-1 text-white" th:text="${order.numberOfOrder}"></caption>
    <thead class="table-dark">
    <tr style="text-align: center">
        <th scope="col">id</th>
        <th scope="col">Number of order</th>
        <th scope="col">Status</th>
        <th scope="col">Title item</th>
        <th scope="col">Customer Last name</th>
        <th scope="col">Customer telephone</th>
        <th scope="col">Number of items</th>
        <th scope="col">Total price</th>
        <th colspan="2">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr style="text-align: center">
        <td th:text="${order.id}"></td>
        <td th:text="${order.numberOfOrder}"></td>
        <td th:text="${order.orderStatus}"></td>
        <td th:text="${order.title}"></td>
        <td th:text="${order.lastName}"></td>
        <td th:text="${order.telephone}"></td>
        <td th:text="${order.numberOfItems}"></td>
        <td th:text="${order.totalPrice}"></td>
        <form method="post" th:action="@{/seller/orders/{id}/change-status/(id=${order.id})}">
            <td>
                <div class="col-12">
                    <select aria-label="Default select example" class="form-select" name="status">
                        <option th:each="status : ${T(com.gmail.alexandr.tsiulkin.service.model.OrderStatusDTOEnum).values()}"
                                th:text="${status.name()}" th:value="${status.name()}"></option>
                    </select>
                </div>
            </td>
            <td>
                <button class="btn btn-outline-warning" type="submit">Change</button>
            </td>
        </form>
    </tr>
    </tbody>
</table>
<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>