<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.rtl.css}">
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<table class="table table-hover container">
    <caption class="caption-top fs-1">Profile</caption>
    <thead class="table-light">
    <tr>
        <th scope="col">id</th>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Address</th>
        <th scope="col">Telephone</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${userDetails.id}"></td>
        <td th:text="${userDetails.firstName}"></td>
        <td th:text="${userDetails.lastName}"></td>
        <td th:text="${userDetails.address}"></td>
        <td th:text="${userDetails.telephone}"></td>
    </tr>
    </tbody>
</table>
<form th:action="@{/customer/users/{id}/change-parameter(id=${userDetails.id})}" method="post"
      th:object="${addUserDetails}">
    <div class="col-12">
        <div class="input-group has-validation">
            <label class="visually-hidden" for="firstName">First name</label>
            <input type="text" class="form-control" id="firstName" name="firstName"
                   placeholder="New first name" th:field="*{firstName}">
            <div class="alert alert-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
        </div>
        <div class="input-group has-validation">
            <label class="visually-hidden" for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName" name="lastName"
                   placeholder="New last name" th:field="*{lastName}">
            <div class="alert alert-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
        </div>
        <div class="input-group has-validation">
            <label class="visually-hidden" for="address">Address</label>
            <input type="text" class="form-control" id="address" name="address"
                   placeholder="New address" th:field="*{address}">
            <div class="alert alert-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
        </div>
        <div class="input-group has-validation">
            <label class="visually-hidden" for="telephone">Telephone</label>
            <input type="text" class="form-control" id="telephone" name="telephone"
                   placeholder="New telephone" th:field="*{telephone}">
            <div class="alert alert-danger" th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}"></div>
        </div>
        <div class="input-group has-validation">
            <label class="visually-hidden" for="oldPassword">Password</label>
            <input type="password" class="form-control" id="oldPassword" name="oldPassword"
                   placeholder="Old password" th:field="*{oldPassword}">
            <label class="visually-hidden" for="newPassword">Password</label>
            <input type="password" class="form-control" id="newPassword" name="newPassword"
                   placeholder="New password" th:field="*{newPassword}">
            <div class="alert alert-danger" th:if="${#fields.hasErrors('oldPassword')}"
                 th:errors="*{oldPassword}"></div>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('newPassword')}"
                 th:errors="*{newPassword}"></div>
        </div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Change parameter</button>
    </div>
</form>
<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-primary" th:href="@{/customer/welcome-customer}" role="button">Back</a>
</div>
<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-primary" th:href="@{/logout}" role="button">Logout</a>
</div>
<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>