<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.rtl.css}">
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
<p class="text-lg-center fs-1">Welcome</p>
<p class="text-lg-center fs-2" th:text="${#authentication.name}"></p>
<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-primary" th:href="@{/customer/articles}" role="button">Articles</a>
</div>
<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-primary" role="button" th:href="@{/customer/items}">Items</a>
</div>
<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-primary" role="button" th:href="@{/customer/orders}">Orders</a>
</div>
<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-primary" th:href="@{/customer/user-profile}" role="button">Profile</a>
</div>
<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-primary" role="button" th:href="@{/customer/reviews/add}">Add review</a>
</div>
<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-primary" role="button" th:href="@{/customer/show-reviews}">Reviews</a>
</div>
<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-primary" th:href="@{/logout}" role="button">Logout</a>
</div>
<script th:src="@{/js/bootstrap.bundle.js}"></script>
</body>
</html>